.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  // grid-template-rows: 50px 100px;
  // grid-auto-rows: 40px;
  grid-auto-flow: column;
  grid-auto-columns: 50px;
  grid-gap: 20px;
  background: green;
}

.grid-item {
  background-color: orange;
}
