.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: 100px 200px;
  grid-auto-rows: 80px;
  grid-gap: 20px;
  background: green;
}

.grid-item {
  background-color: orange;
}
