// // .grid-container {
// //   display: grid;
// //   grid-template-columns: repeat(auto-fill, minmax(100, 1fr));
// //   // grid-template-rows: 50px 100px;
// //   // grid-auto-rows: 40px;
// //   // grid-auto-flow: column;
// //   // grid-auto-columns: 50px;
// //   grid-gap: 20px;
// //   background: green;
// // }

// .grid-item {
//   background-color: orange;
// }

// .grid-item-3 {
//   background-color: brown;
//   grid-column: content-start;
//   grid-row: [content-top] / [content-bottom];
// }

// // .grid-item-5 {
// //   background: #fff;
// //   // grid-column: span 2;
// //   // grid-row: span 3;
// //   // grid-column: 2 / -1;
// //   // grid-row: 1 / 6;
// // }

// .grid-container {
//   display: grid;
//   grid-template-columns: [site-left] 1fr [content-start] 200px [content-end] 1fr [site-right];
//   grid-template-rows: [content-top] repeat(10, 100px) [content-bottom];
//   // grid-template-areas:
//   //   "header header header"
//   //   "sidebar content content"
//   //   "footer footer footer";
//   gap: 10px;
//   background-color: green;
//   text-align: center;
// }

// .item {
//   background-color: orange;
// }

// // .header {
// //   grid-area: header;
// // }

// // .sidebar {
// //   grid-area: sidebar;
// // }

// // .content {
// //   grid-area: content;
// // }

// // .footer {
// //   grid-area: footer;
// // }

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(2, 100px);
  // justify-items: center;
  // align-items: center;
  gap: 10px;
  background-color: green;
  height: 500px;
  justify-content: space-around;
  align-content: center;
}

.grid-item {
  background-color: orange;
}
